body {
    background-image: url('./photos/AdobeStock_300929807.png');
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #232c33;
    font-size: 21px;
}

h2{
    color: #000000;
    font-size: 15px;
}

.ingredient-container{

    width: 300px;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border-radius: 4px;
    
}



.box {
    color: white;
    margin: 100px;
    padding: 100px;
    
}
p {
    color: #232c33
}

.add {
    border-radius: 16px;
    color: black;
    margin: 4px;
}

.text-block {
    position: center;
    background-color: #FAF0E6;
    opacity: 75%;
    border-radius: 25px;
    color:black;
    padding: 70px;
}

/*.header {
    height: 50px;
    width: 100%;
    background-color: #FAF0E6;
    opacity: 75%;
}*/

.header {
    padding: 30px;
}

<<<<<<< HEAD
h1{
    font-size: large;
    font-family: 'Arvo', serif;
=======
.footer {
    position: bottom;
    
>>>>>>> ca5ca3a683825076c309a9ee059d53fa2edd00f8
}
